---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class="publications-list">

  {% assign seen_ids = "" | split: "," %}

  {% if site.publication_category %}
    {% for cat in site.publication_category %}
      {% assign category_key = cat[0] %}
      {% assign category_title = cat[1].title %}

      {% assign posts_in_category = site.publications | where: "category", category_key %}

      {% if posts_in_category.size > 0 %}
        <h2>{{ category_title }}</h2><hr />

        {% for post in posts_in_category reversed %}
          {% assign cid = post.canonical_id | default: post.title %}
          {% unless seen_ids contains cid %}
            {% assign seen_ids = seen_ids | push: cid %}

            <div class="publication__item">
              <p>
                <strong>{{ post.title }}</strong><br />
                {% if post.authors %}
                  {{ post.authors | join: ", " }}<br />
                {% elsif post.author %}
                  {{ post.author }}<br />
                {% endif %}
                {% if post.venue %}
                  <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}<br />
                {% endif %}

                {% assign links = "" %}
                {% if post.paperurl %}{% assign links = links | append: '<a href="' | append: post.paperurl | append: '" target="_blank">PDF</a>' %}{% endif %}
                {% if post.slidesurl %}{% assign links = links | append: ' | <a href="' | append: post.slidesurl | append: '" target="_blank">Slides</a>' %}{% endif %}
                {% if post.codeurl %}{% assign links = links | append: ' | <a href="' | append: post.codeurl | append: '" target="_blank">Code</a>' %}{% endif %}
                {% if post.bibtexurl %}{% assign links = links | append: ' | <a href="' | append: post.bibtexurl | append: '" target="_blank">BibTeX</a>' %}{% endif %}

                {{ links | remove_first: ' | ' }}
              </p>
            </div>

          {% endunless %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
