{% assign seen_titles = "" | split: "," %}

<div class="publications-list">
  {% for post in site.publications reversed %}
    {% unless seen_titles contains post.title %}
      {% assign seen_titles = seen_titles | push: post.title %}
      <div class="publication__item">
        <p>
          <strong>{{ post.title }}</strong><br />
          {% if post.authors %}
            {{ post.authors | join: ", " }}<br />
          {% elsif post.author %}
            {{ post.author }}<br />
          {% endif %}
          {% if post.venue %}
            <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}<br />
          {% endif %}

          {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank">PDF</a>{% endif %}
          {% if post.slidesurl %} | <a href="{{ post.slidesurl }}" target="_blank">Slides</a>{% endif %}
          {% if post.codeurl %} | <a href="{{ post.codeurl }}" target="_blank">Code</a>{% endif %}
          {% if post.bibtexurl %} | <a href="{{ post.bibtexurl }}" target="_blank">BibTeX</a>{% endif %}
        </p>
      </div>
    {% endunless %}
  {% endfor %}
</div>




